<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" href="#/tab/newAct" nav-direction="back" ng-click="doSomething()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title">{{ 'LOCATION' | translate }}</h1>
	<!-- <div class="buttons">
	  <button class="button button-clear add-btn"><i class="ion-plus"></i></button>
	</div> -->
</ion-header-bar> 
<ion-view>
	<ion-content class="bg-grey has-header44">
	  	
	  	<div class="list mt24 prevBlock">
		  	
			<a class="item c3" href="#/floor" nav-direction="forward">
			    <span class="fl" style="width:95%;">Block A</span>
			    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
			    
			</a>
			<a class="item c3" href="#/floor" nav-direction="forward">
			    <span class="fl" style="width:95%;">Block B</span>
			    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
			   
			</a>
		</div>
	</ion-content>
</ion-view>
