<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" href="#/tab/newAct" nav-direction="back" ng-click="doSomething()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title">{{ 'CATEGORY' | translate }}</h1>
	<!-- <div class="buttons">
	  <button class="button button-clear add-btn"><i class="ion-plus"></i></button>
	</div> -->
</ion-header-bar> 
<ion-view>
	<ion-content class="bg-grey has-header44" ng-controller="CategoryCtrl">
		<div class="list mt24 blockFix prevBlock">
		  	<ion-list>
			  	<ion-radio ng-model="$parent.category" ng-repeat="category in categoryItems" nav-direction="back" value="{{category.CategoryID}}">{{category.name}}</ion-radio>
			  	<!-- <ion-radio ng-model="$parent.category" nav-direction="back" ng-value="'Category B'">Category B</ion-radio>
			  	<ion-radio ng-model="$parent.category" nav-direction="back" ng-value="'Category C'">Category C</ion-radio> -->
			</ion-list>
			
		</div>
	</ion-content>
</ion-view>