<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" href="#/tab/newAct" nav-direction="back" ng-click="backFromCompany()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title">{{ 'SUBCONTRACTOR' | translate }}</h1>
	<div class="buttons">
	  <a style="display:block" ng-click="companyDone()"><button class="button button-clear button-positive">Done</button></a>
	</div>
</ion-header-bar> 
<ion-view>
	<ion-content class="bg-grey has-header44">
	  	<ion-list>

		  <ion-checkbox ng-repeat="subItem in companyList" ng-model="subItem.checked">{{subItem.langName}}</ion-checkbox>
		  

		</ion-list>
	</ion-content>
</ion-view>
