<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" href="#/block" nav-direction="back" ng-click="doSomething()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title">Location</h1>
	<!-- <div class="buttons">
	  <button class="button button-clear add-btn"><i class="ion-plus"></i></button>
	</div> -->
</ion-header-bar>
<ion-view>
	<ion-content class="bg-grey has-header44">
	  	
	  	<div class="list mt24 blockFix prevBlock">
		  	<ion-list>
			  	<ion-radio ng-model="block" ng-checked="true" ng-value="'A'">Ground floor</ion-radio>
			  	<ion-radio ng-model="block" ng-value="'B'">2F</ion-radio>
			  	<ion-radio ng-model="block" ng-value="'C'">3F</ion-radio>
			</ion-list>
			<!-- <a class="item c3" href="#/block">
			    <span class="fl" style="width:40%;">Block A</span>
			    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
			    <span style="width:55%" class="fz16 item-note c3 ellipsis">
			      Block A / Ground Floor				      
			    </span>
			</a>
			<a class="item c3" href="#">
			    <span class="fl" style="width:40%;">Block A</span>
			    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
			    <span style="width:55%" class="fz16 item-note c3 ellipsis">
			      Progress record			      
			    </span>
			</a> -->
		</div>
	</ion-content>
</ion-view>
