<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" href="#/block" nav-direction="back" ng-click="doSomething()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title">{{ 'LOCATION' | translate }}</h1>
	<!-- <div class="buttons">
	  <button class="button button-clear add-btn"><i class="ion-plus"></i></button>
	</div> -->
</ion-header-bar>
<ion-view>
	<ion-content class="bg-grey has-header44" ng-controller="FloorCtrl">
	  	
	  	<div class="list mt24 blockFix prevBlock">
		  	<ion-list>
			  	<!-- <ion-radio ng-model="$parent.floor" ng-repeat="floorItem in floorItems" nav-direction="back" ng-value="{{floorItem}}">{{floorItem}}</ion-radio> -->
			  	<ion-radio nav-direction="back" ng-model="$parent.floorModel" ng-repeat="floor in floorItems" ng-show="floor" value="{{floor}}">{{floor}}</ion-radio>
			  	<!-- <ion-radio nav-direction="back" ng-repeat="i in ['aa','bb']" ng-model="a.floorModel" ng-value="'A'">floorA</ion-radio> -->
			  	<!-- <ion-radio nav-direction="back" ng-model="a.floorModel" ng-value="'B'">floorA</ion-radio>
			  	<ion-radio nav-direction="back" ng-model="a.floorModel" ng-value="'C'">floorA</ion-radio> -->
			</ion-list>
		</div>
	</ion-content>
</ion-view>
