<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" ng-click="jobListGoBack()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title">{{ 'JOB_LIST' | translate }}</h1>
	<!-- <div class="buttons">
	  <button class="button button-clear add-btn"><i class="ion-plus"></i></button>
	</div> -->
</ion-header-bar> 
<ion-view>
	<ion-content class="bg-grey hackIonContent">
	  	<div class="thinBar mt42"></div>
	  	<div class="list blockFix prevBlock jobList">
	  		
		  	<ion-list>
			  	<ion-radio ng-model="jobModel.jobList" ng-repeat="jobItem in jobListArr" nav-direction="back" ng-value="jobItem.ProjectID">
			  		<h2>{{jobItem.ProjectNo}}</h2>
			  		<p>{{jobItem.ProjectName}}</p>
			  	</ion-radio>
			  	<!-- <ion-radio ng-model="$parent.jobList" nav-direction="back"  ng-value="'J2'">
			  		<h2>J2345</h2>
			  		<p>Project BBB</p>
			  	</ion-radio>
			  	<ion-radio ng-model="$parent.jobList" nav-direction="back"  ng-value="'J3'">
			  		<h2>J3456</h2>
			  		<p>Project CCC</p>
			  	</ion-radio> -->
			</ion-list>
			
		</div>
	</ion-content>
</ion-view>