<!-- <ion-view view-title="Login">
  <ion-content class="has-header"> -->
  <ion-header-bar align-title="left" class="bar-cus bar-positive" ng-controller="TranslationsMainCtrl">
      <div class="buttons">
        <div class="app_icon">
          <img height="80%" src="img/logo.png" />
        </div>
        <button class="button" ng-click="doSomething()"></button>
      </div>
      <h1 class="title-cus title"></h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="changeLanguage()"><i class="demo-icon icon-translate">&#xe800;</i></button>
      </div>
  </ion-header-bar> 
     <ion-tabs class="tabs-striped tabs-color-positive tabs-top">

        <ion-tab title="{{'ACTIVE_DIRECTORY' | translate }}" href="#/login/active" >
          <ion-nav-view name="login-active"></ion-nav-view>
        </ion-tab>

        <ion-tab title="{{'EMPLOYEE_ID' | translate }}" href="#/login/id">
          <ion-nav-view name="login-id"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
  
<!--   </ion-content>
</ion-view> -->
