<ion-view view-title="Dashboard">
	<ion-content class="has-header has-2header">
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Employee ID</span>
		    <input class="fz20" type="text" placeholder="Employee ID">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Mobile #</span>
		    <input class="fz20" type="text" placeholder="Mobile #">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">HKID</span>
		    <input class="fz20" type="text" placeholder="HKID">
		  </label>
		  <div class="btnWp">
			
			<button class="fr button login-button  button-royal">
			  SIGN IN
			</button>
			<button class="fr btn-clear button login-button">
			  CLEAR
			</button>
		  </div>
		</div>
	</ion-content>
</ion-view>