<ion-view view-title="Dashboard">
	<ion-content class="has-header has-2header">
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">{{'EMPLOYEE_ID' | translate }}</span>
		    <input class="fz20" type="text" placeholder="{{'EMPLOYEE_ID' | translate }}">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">{{'MOBILE_NUMBER' | translate }}</span>
		    <input class="fz20" type="text" placeholder="{{'MOBILE_NUMBER' | translate }}">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">{{'HKID' | translate }}</span>
		    <input class="fz20" type="text" placeholder="{{'HKID' | translate }}">
		  </label>
		  <div class="btnWp">
			
			<a href="#/tab/newAct" style="display:block;">
				<button class="fr button login-button  button-royal">
				 {{'SIGNIN' | translate }}
				</button>
			</a>
			<a href="" style="display:block;">
				<button class="fr btn-clear button login-button">
				  {{ 'CLEAR' | translate }}
				</button>
			</a>
		  </div>
		</div>
	</ion-content>
</ion-view>