<ion-view view-title="Login">
	<ion-content class="has-header has-2header">
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">{{'USERNAME' | translate }}</span>
		    <input class="fz20" type="text" ng-model="loginO.username" placeholder="{{'USERNAME' | translate }}">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">{{'PASSWORD' | translate }}</span>
		    <input class="fz20" ng-model="loginO.password"  type="password" placeholder="{{'PASSWORD' | translate }}">
		  </label>
		  <div class="btnWp">
			<a href="" style="display:block;">
				<button ng-click="activeSignIn()" class="fr button login-button  button-royal">
				  {{'SIGNIN' | translate }}
				</button>
			</a>
			<a href="" style="display:block;">
				<button ng-click="activeClear()" class="fr btn-clear button login-button">
				  {{ 'CLEAR' | translate }}
				</button>
			</a>
		  </div>
		</div>
	</ion-content>
</ion-view>
