<ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
	<div class="buttons">
	  <a class="button button-clear" href="#/tab/newAct" nav-direction="back" ng-click="doSomething()">
	  	<i class="icon ion-android-arrow-back" style="color:#BFC1C3;" ></i>
	  </a>
	</div>
	<h1 class="title"><i>3</i>selected</h1>
	<div class="buttons">
	  <button class="button button-clear button-positive">Delete</button>
	</div>
</ion-header-bar> 
<ion-view>
	<ion-content class="bg-grey has-header44">
	  	<div class="photoWall">
		  	<div class="eachPhoto">
				<img src="img/one.jpg">
				<a href="" class="selectedPic"></a>
			</div>
			<div class="eachPhoto">
				<img src="img/one.jpg">
				<a href="" class="selectedPic"></a>
			</div>
			<div class="eachPhoto">
				<img src="img/one.jpg">
				<a href="" class="selectedPic"></a>
			</div>
			<div class="eachPhoto">
				<img src="img/one.jpg">
				<a href="" class="selectedPic"></a>
			</div>
			<div class="eachPhoto">
				<img src="img/one.jpg">
				<a href="" class="selectedPic"></a>
			</div>
		</div>
	</ion-content>
</ion-view>
