<!-- <ion-view>
    <ion-content class="bg-grey has-header44"> -->
        
        <div class="list mt24 blockFix prevBlock has-header44">
            <ion-list>
                <ion-radio ng-model="$parent.review" nav-direction="back" ng-checked="true" ng-value="'Allan'">Alan Kong</ion-radio>
                <ion-radio ng-model="$parent.review" nav-direction="back" ng-value="'Ruby'">Ruby</ion-radio>
                <ion-radio ng-model="$parent.review" nav-direction="back" ng-value="'Ross'">Ross</ion-radio>
            </ion-list>
            
        </div>
<!--     </ion-content>
</ion-view> -->