<ion-view view-title="TaskList">
  <ion-content class="has-header44">
    <div class="greyBar">Request To Do</div>
    <div class="list">

        <a class="upload item item-button-right" href="#">
          <h2>Alan Kong 2016/6/7 13:57</h2>
          <p>Please help me take few photos at 3/F</p>
          <div class="deleteIcon">
          	<i class="icon ion-android-cancel fz20"></i>
          </div>
        </a> 
        <a class="upload item item-button-right" href="#">
          <h2>2016/6/7 15:57</h2>
          <p>Please help me take few photos at 5/F lobby</p>
          <div class="deleteIcon">
          	<i class="icon ion-android-cancel fz20"></i>
          </div>
        </a>
    </div>
  </ion-content>
</ion-view>
