<ion-view view-title="Upload">
  <ion-content class="has-header49 bg-grey hackIonContent">
    <div class="greyBar mt49">6 {{'UPLOAD_TITLE' | translate }}</div>
    <div class="list prevBlock">

        <a class="upload item item-button-right" href="" ng-repeat="upload in uploadItems">
          <h2>{{upload.createdOn}}</h2>
          <p class="h20">{{upload.description}}</p>
          <div class="r-img" ng-show="{{upload.photos.length}}">
             <img  src="{{upload.photos[0].imgURI}}" class="fl">
            <div class="fl">
              <h2><img src="img/img.gif"></h2>
              <p>{{upload.photos.length}}</p>
            </div>
          </div>  
        </a>
        <!-- <a class="upload item item-button-right" href="">
          <h2>2016/6/7 13:57</h2>
          <p class="h20">落緊石屎</p>
          <div class="r-img">
            <img src="img/one.jpg" class="fl">
            <div class="fl">
              <h2><img src="img/img.gif"></h2>
              <p>15</p>
            </div>
          </div>  
        </a> -->
        
        

        
    </div>

  </ion-content>
  <div class="startUpload" ng-click="startUpload()">
      <p>{{'START_UPLOAD1' | translate }}</p>
      <p class="no-mg">{{'START_UPLOAD2' | translate }}</p>
    </div>
</ion-view>
