<ion-view view-title="System">
  <ion-content class="has-header49 bg-grey">
  	<div class="thinBar"></div>
    <!-- <ion-list>
    <ion-toggle>
        Enable Friends
    </ion-toggle>
    </ion-list> -->
    <div class="list no-mg prevBlock">
    	<div class="item c3 curUserW" href="">
		    {{'CURRENT_USER' | translate }}
		    <div class="item-note c8e curUser ellipsis">
		      <p>Alan Kong</p>
		      <p>GAMSKA\ALANKONG</p>
		    </div>
		    <!-- <p class="item-note c8e curUser ellipsis">
		      
		    </p> -->
		    
		</div>
		<a class="item c3" href="#/language" nav-direction="forward">
		    
		   {{'LANGUAGE' | translate }}
		    <span class="item-note c8e">
		      {{'LANGUAGE_CONTENT' | translate }}
		      <i class="icon ion-chevron-right ml10 cce"></i>
		    </span>

		</a>
		<a class="item c3" href="#/jobList" nav-direction="forward">
		    
		   {{'JOB_NUMBER' | translate }}
		    <span class="item-note c8e">
		      J12345
		      <i class="icon ion-chevron-right ml10 cce"></i>
		    </span>

		</a>
    </div>
    <div class="thinBar"></div>
    <div class="list no-mg prevBlock">
    	<div class="item item-toggle c3" href="">
		     {{'ALLOW_3G' | translate }}
		    <label class="toggle toggle-balanced">
		       <input ng-model="$parent.allow3G" type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		</div>
		<div class="item item-toggle c3" href="">
		    {{'NOTIFICATION' | translate }}
		    <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		    </label>

		</div>
    </div>
    <div class="thinBar"></div>
    <a style="display:block; text-decoration:none;" ng-click="signOut()" href="">
	    <button class="button button-full button-outline no-mg button-light sign-btn"> {{'SIGN_OUT' | translate }}</button>
    </a>
    <h2 class="hotLine">{{'SUPPORT_HOTLINE' | translate }}: 2516-8009</h2>
    
  </ion-content>
</ion-view>
