<ion-view view-title="TaskList">
  <ion-content class="has-header49 bg-grey hackIonContent">
    <div class="greyBar mt49">{{'REQUEST_TODO' | translate }}</div>
    <div class="list prevBlock">

        <a class="item item-button-right" ng-repeat="taskItem in tasklists" href="#/tab/newAct">
          <h2>{{taskItem.author}} {{taskItem.date}} {{taskItem.time}}</h2>
          <p>{{taskItem.log}}</p>
          <div class="deleteIcon">
          	<i class="icon ion-android-cancel fz20"></i>
          </div>
        </a> 
        <!-- <a class="upload item item-button-right" href="#/tab/newAct">
          <h2>2016/6/7 15:57</h2>
          <p>Please help me take few photos at 5/F lobby</p>
          <div class="deleteIcon">
          	<i class="icon ion-android-cancel fz20"></i>
          </div>
        </a> -->
    </div>
  </ion-content>
</ion-view>
