<ion-view view-title="System">
  <ion-content class="has-header44 bg-grey">
  	<div class="thinBar"></div>
    <!-- <ion-list>
    <ion-toggle>
        Enable Friends
    </ion-toggle>
    </ion-list> -->
    <div class="list no-mg prevBlock">
    	<div class="item c3" href="#">
		    Current User
		    <span class="item-note c8e">
		      Alan Kong-GAMSKA\ALANKONG
		    </span>
		</div>
		<a class="item c3" href="#">
		    
		    Language
		    <span class="item-note c8e">
		      English
		      <i class="icon ion-chevron-right ml10 cce"></i>
		    </span>

		</a>
    </div>
    <div class="thinBar"></div>
    <div class="list no-mg prevBlock">
    	<div class="item item-toggle c3" href="#">
		    Allow 3G Upload
		    <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		</div>
		<div class="item item-toggle c3" href="#">
		    Notification
		    <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		    </label>

		</div>
    </div>
    <div class="thinBar"></div>
    <button class="button button-full button-outline no-mg button-light sign-btn">SIGN OUT</button>
    <h2 class="hotLine">Support hotline: 2516-8009</h2>
    
  </ion-content>
</ion-view>
