<ion-view view-title="New Activity">
  	<ion-content class="bg-grey hackIonContent">
		<!-- <ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
		      <div class="buttons">
		        <button class="button button-clear button-positive" ng-click="doSomething()">cancel</button>
		      </div>
		      <h1 class="title">New Activity</h1>
		      <div class="buttons">
		        <button class="button button-clear add-btn"><i class="ion-cancel"></i></button>
		      </div>
		</ion-header-bar> -->
		<div class="newAct mt49">
			<!-- <div class="thinBar"></div> -->
			<div class="greyBar">{{'NEW_ACT_TITLE' | translate }}</div>
			<div class="list prevBlock no-mg">
		    	<a class="item c3" ng-click="getLocationBlock()" nav-direction="forward">
				    <i class="fl ion-android-pin fz20" style="width:10%;"></i>
				    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
				    <span style="width:85%" class="fz16 item-note ellipsis" ng-class="{true:'cce0', false:'c30'}[isGray_location]">
				      <!-- Block A / Ground Floor -->	
				       {{ location }}		      
				    </span>
				</a>
				<a class="item c3" ng-click="getCategory()" nav-direction="forward">
				    <i class="fl ion-ios-pricetag fz20" style="width:10%;"></i>
				    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
				    <span style="width:85%" class="fz16 item-note ellipsis" ng-class="{true:'cce0', false:'c30'}[isGray_category]">
				      {{ category }}      
				    </span>
				</a>
		    </div>
		    <!-- <div class="thinBar"></div> -->
		    <div class="list mt24 prevBlock">
		    	<ion-checkbox ng-model="isReviewShow">{{ 'REQUEST_REVIEW' | translate }}</ion-checkbox>

		    	<a class="item c3" ng-click="getMulti('review', true, false)" nav-direction="forward" ng-show="isReviewShow">
				    <i class="fl ion-android-person fz20" style="width:10%;"></i>
				    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
				    <span style="width:85%" class="fz16 item-note" ng-class="{true:'cce0', false:'c30'}[isGray_review]">
				     {{ review | translate }} 
				    </span>
				</a>
		    </div>
		    <div class="list mt24 prevBlock">
		    	<a class="item c3 tradeTitle" ng-click='toggleTradeShow()'; href="">
				    <i class="fl demo-icon2 icon-hard_hat fz20" style="width:10%;">&#xe800;</i>
				    <span class="fl" style="width:85%; -position: relative; -left: -3px;">{{ 'TRADE' | translate }}  ({{ tradeNum }})  / {{ 'SUBCONTRACTOR' | translate }}  ({{ companyNum }})</span>
				    <i style="width:5%" class="fr icon ion-chevron-down cce"></i>
				    
				</a>
				<span class="item c3" ng-show="isTradeShow" >
				    <span class="fl" style="width:40%;">{{ 'TRADE' | translate }}</span>
				    <i style="width:10%" ng-click="clear('trade')" class="t-r fr icon ion-android-cancel fz20 cce"></i>
				    <a style="width:50%" ng-click="getMulti('trade', true, true)" class="no-decor fz16 item-note newLine" ng-class="{true:'cce0', false:'c30'}[isGray_trade]"> 
				      {{ trade }}     
				    </a>
				</span>
				<span class="item c3" ng-show="isTradeShow">
				    <span class="fl" style="width:40%;">{{ 'SUBCONTRACTOR' | translate }}</span>
				    <i style="width:5%" ng-click="clear('company')" class="fr icon ion-android-cancel fz20 cce"></i>
				    <a style="width:55%" ng-click="getMulti('company', true, true)" class="fz16 item-note newLine" ng-class="{true:'cce0', false:'c30'}[isGray_company]">
				      {{ company }}  		      
				    </a>
				</span>
			</div>
			<div class="list mt24 prevBlock" id="lastEle" ng-style="lastEleStyle" style="margin-bottom:100px;">
		    	<div class="item c3 attachPhoto_W">
		    		<i class="fl ion-image fz20" style="width:10%;"></i>
				    <a class="fl" href="#/photo" nav-direction="forward" style="width:50%;">{{ 'PHOTO' | translate }} <i>({{photoLength}})</i>
				   	</a>
				    <span class="fl" style="width:40%" ng-click="getPhoto('picker-thmb');">
					    <i style="width:5%" class="attach fr icon ion-android-attach"></i>
					</span>
				</div>
				<div class="item horizScroll">
					<div ng-repeat="attachImg in attachImgs" class="imgItem" ng-show = 'attachImg.imgURI !== undefined'>
						<img ng-click="showBigImg(attachImg.imgURI)" ng-src = '{{ attachImg.imgURI }}'>
						<a ng-click="delPhoto(attachImg.imgURI)" class="deletePic"></a>
					</div>
					
					<!-- <div class="imgItem">
						<img ng-click="showBigImg('img/one.jpg')" src="img/one.jpg">
						<a ng-click="delPhoto('img/one.jpg')" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img ng-click="showBigImg('img/one.jpg')" src="img/one.jpg">
						<a ng-click="delPhoto('img/one.jpg')" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img ng-click="showBigImg('img/one.jpg')" src="img/one.jpg">
						<a ng-click="delPhoto('img/one.jpg')" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img ng-click="showBigImg('img/one.jpg')" src="img/one.jpg">
						<a ng-click="delPhoto('img/one.jpg')" class="deletePic"></a>
					</div> -->
					<!-- <div class="imgItem">
						<img src="img/one.jpg">
						<a href="" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img src="img/one.jpg">
						<a href="" class="deletePic"></a>
					</div> -->
				</div>
			</div>
			
			
	    </div>
	    <!-- <h2>dsafdfad</h2> -->
    	    
	</ion-content>

	<!-- 显示大图 -->
	<div ng-if="bigImage"  class="imgBackdrop" ng-click="hideBigImg()">
		<img class="img-responsive bigImg" ng-src="{{bigImgUrl}}"/>
	</div>
	<!-- <div class="bar bar-footer" spy-style spy-attribute="height"  style="height:auto !important;"> -->
	<div class="bar bar-footer" spy-style spy-attribute="height"  style="height:auto !important;">
		    <button ng-click="takePhoto()" class="fixbottom button button-clear"><i class="icon ion-camera" style="color:#858e99"></i></button>
			<!-- <input type="" id="realInput" name=""> -->
		    <logdirective class="mockinput" ng-class="{true:'c7', false:'c30'}[isGray_mockinput]" id="mockinput" tabindex="0" ng-focus="mockInputFocus($event)" ng-blur="mockInputBlur()" contenteditable="plaintext-only">{{ mockInputData }} </logdirective>
		    <button ng-click="saveAct()" class="fixbottom button button-clear send"></button>
	</div>	
</ion-view>

