<ion-view view-title="New Activity">
  	<ion-content class="bg-grey has-header50">
		<!-- <ion-header-bar align-title="center" class="bg-img-cuz bar bar-header bar-stable bdr-color-cuz">
		      <div class="buttons">
		        <button class="button button-clear button-positive" ng-click="doSomething()">cancel</button>
		      </div>
		      <h1 class="title">New Activity</h1>
		      <div class="buttons">
		        <button class="button button-clear add-btn"><i class="ion-cancel"></i></button>
		      </div>
		</ion-header-bar> -->
		<div class="newAct">
			<!-- <div class="thinBar"></div> -->
			<div class="greyBar">{{'NEW_ACT_TITLE' | translate }}</div>
			<div class="list prevBlock">
		    	<a class="item c3" href="#/block" nav-direction="forward">
				    <span class="fl" style="width:40%;">Location</span>
				    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
				    <span style="width:55%" class="fz16 item-note c3 ellipsis">
				      <!-- Block A / Ground Floor -->	
				       {{ 'LOCATION' | translate }}		      
				    </span>
				</a>
				<a class="item c3" href="#/category" nav-direction="forward">
				    <span class="fl" style="width:40%;">Category</span>
				    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
				    <span style="width:55%" class="fz16 item-note c3 ellipsis">
				      {{ 'PROGRESS_RECORD' | translate }}			      
				    </span>
				</a>
		    </div>
		    <!-- <div class="thinBar"></div> -->
		    <div class="list mt24 prevBlock">
		    	<ion-checkbox ng-model="isReviewShow">{{ 'REQUEST_REVIEW' | translate }}</ion-checkbox>

		    	<a class="item c3" href="#/review" nav-direction="forward" ng-show="isReviewShow">
				    <span class="fl" style="width:40%;">{{ 'REVIEW_BY' | translate }}</span>
				    <i style="width:5%" class="fr icon ion-chevron-right cce"></i>
				    <span style="width:55%" class="fz16 item-note c3">
				      Alan Kong			      
				    </span>
				</a>
		    </div>
		    <div class="list mt24 prevBlock">
		    	<a class="item c3 tradeTitle" ng-click='toggleTradeShow()'; href="">
				    <span class="fl" style="width:40%; position: relative; left: -3px;">{{ 'TRADE_SUBCONTRACTOR' | translate }}</span>
				    <i style="width:5%" class="fr icon ion-chevron-down cce"></i>
				    
				</a>
				<a class="item c3" ng-show="isTradeShow" href="#/trade" nav-direction="forward">
				    <span class="fl" style="width:40%;">{{ 'TRADE' | translate }}</span>
				    <i style="width:5%" class="fr icon ion-android-cancel fz20 cce"></i>
				    <span style="width:55%" class="fz16 item-note c3 newLine">
				      Concrete, Rebar, Brick, Concrete, Rebar, Brick	      
				    </span>
				</a>
				<a class="item c3" ng-show="isTradeShow" href="#/subcontractor" nav-direction="forward">
				    <span class="fl" style="width:40%;">{{ 'SUBCONTRACTOR' | translate }}</span>
				    <i style="width:5%" class="fr icon ion-android-cancel fz20 cce"></i>
				    <span style="width:55%" class="fz16 item-note c3 newLine">
				      ABC Company, BBC Company, CBC Company			      
				    </span>
				</a>
			</div>
			<div class="list mt24 prevBlock" id="lastEle" ng-style="lastEleStyle" style="margin-bottom:100px;">
		    	<div class="item c3 attachPhoto_W">
				    <a class="fl" href="#/photo" nav-direction="forward" style="width:50%;">{{ 'PHOTO' | translate }} <i>(8)</i>
				   	</a>
				    <span class="fl" style="width:50%" ng-click="getPhoto('picker-thmb');">
					    <i style="width:5%" class="attach fr icon ion-android-attach"></i>
					</span>
				</div>
				<div class="item horizScroll">
					<div ng-repeat="attachImg in attachImgs" class="imgItem" ng-show = 'attachImg.imgURI !== undefined'>
						<img ng-src = '{{ attachImg.imgURI }}'>
						<a href="" class="deletePic"></a>
					</div>
					<!-- <div class="imgItem" ng-show = 'imgURI !== undefined'>
						<img ng-src = '{{ imgURI }}'>
						<a href="" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img src="img/one.jpg">
						<a href="" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img src="img/one.jpg">
						<a href="" class="deletePic"></a>
					</div>
					<div class="imgItem">
						<img src="img/one.jpg">
						<a href="" class="deletePic"></a>
					</div> -->
				</div>
			</div>
			
			
	    </div>
	    <!-- <h2>dsafdfad</h2> -->
    	    
	</ion-content>
	<!-- <div class="bar bar-footer" spy-style spy-attribute="height"  style="height:auto !important;"> -->
	<div class="bar bar-footer" spy-style spy-attribute="height"  style="height:auto !important;">
		    <button class="fixbottom button button-clear"><i class="icon ion-camera" style="color:#858e99"></i></button>
			<!-- <input type="" id="realInput" name=""> -->
		    <div class="mockinput" ng-style="style" id="mockinput" tabindex="0" ng-focus="mockInputFocus($event)" contenteditable="true">{{ mockInputData | translate }} </div>
		    <button class="fixbottom button button-clear send"></button>
	</div>	
</ion-view>

