<ion-view view-title="Upload">
  <ion-content class="has-header44">
    <div class="greyBar">6 items pending to upload</div>
    <div class="list">

        <a class="upload item item-button-right" href="#">
          <h2>2016/6/7 13:57</h2>
          <p>落緊石屎</p>
          <div class="r-img">
            <h2><img src="../img/img.gif"></h2>
            <p>15</p>
          </div>  
        </a>
        <a class="upload item item-button-right" href="#">
          <h2>2016/6/7 13:57</h2>
          <p>Second concrete truck Second concrete truck Second concrete truck</p>
          <!-- <div class="r-img">
            <h2><img src="../img/img.gif"></h2>
            <p>15</p>
          </div>  --> 
        </a>
        <a class="upload item item-button-right" href="#">
          <h2>2016/6/7 13:57</h2>
          <p>Second concrete truck</p>
          <!-- <div class="r-img">
            <h2><img src="../img/img.gif"></h2>
            <p>15</p>
          </div>  --> 
        </a>
        <a class="upload item item-button-right" href="#">
          <h2>2016/6/7 13:57</h2>
          <p>Second concrete truck</p>
          <!-- <div class="r-img">
            <h2><img src="../img/img.gif"></h2>
            <p>15</p>
          </div>  --> 
        </a>
        <a class="upload item item-button-right" href="#">
          <h2>2016/6/7 13:57</h2>
          <p>Second concrete truck</p>
          <!-- <div class="r-img">
            <h2><img src="../img/img.gif"></h2>
            <p>15</p>
          </div>  --> 
        </a>

        
    </div>
  </ion-content>
</ion-view>
