/* Empty. Add your own CSS if you like */

.bar.bar-positive { background: #3E50B5; }
.bar-cus { height: 56px; }
.bar .title-cus { height: 56px; line-height: 56px; color: rgba(255,255,255,0.87) !important; font-size: 20px;}
.bar-positive .buttons:first-child .button { opacity: 0; }
.has-tabs, .bar-footer.has-tabs {  } 
.has-header {
    top: 56px;
} 
.has-2header { top:105px; }
.tabs-top > .tabs, .tabs.tabs-top { top: 56px; }
.tabs-striped .tabs { border:none; } 
.item-floating-label { border-top: none; }

.c3 { color:#333 !important; }
.c8e { color:#8e8e93 !important; }
.cce { color:#ceced2 !important; }
.cred { color:#FF4A6D !important; }

.hide { display: none; }
.show { display: block; }
.fz20 { font-size: 20px !important; }
.fz16 { font-size:16px !important; }
.fr { float:right; }
.fl { float: left; }
.no-bdr { border:none !important; }
.no-mg { margin:0 !important; }
.h56 { height:56px !important; line-height: 56px !important; }
.ml10 { margin-left:10px; }
.ml30- { margin-left: 30%; }
.mt24 { margin:0; margin-top:24px !important; }
.mb24 { margin-bottom:24px !important; }



.btnWp { margin-top:20px; }
.btnWp button { margin-right: 10px }
.btnWp button:first { margin-right:20px; }

.login-button { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); padding: 0 14px; vertical-align:middle; border-radius:3px; line-height: 1; min-height: 36px; }
.btn-clear { color: rgb(33,33,33); background-color: rgb(250,250,250);}
.bdr-color-cuz { border-color:#ceced2 !important; }
.bg-img-cuz { background-image: linear-gradient(0deg, #ceced2, #ceced2 50%, transparent 50%) !important; }
.add-btn { color:#017AFF !important; padding: 0 10px !important; font-size: 22px !important; }

.greyBar { background: #efeff4; color:#8e8e93; padding: 10px 0 10px 10px; font-size: 16px; }
.has-header44 { top: 44px }

.r-img { position: absolute; top: 16px; right: 16px; color:#8e8e8e; }
.r-img h2 img { height:20px; }
.r-img p { text-align: right; color:#8e8e8e; }
.upload > h2 { color:#333333; }
.upload > p { color:#8e8e8e; margin-bottom: -4px; }

.thinBar { background:#efeff4; height:24px; }
.sign-btn { color:#ff3b30 !important; background: #fff !important; }
.bg-grey { background: #efeff4 !important; }
.hotLine { font-weight: bold; font-size: 20px; text-align: center;color:#999999; }
.deleteIcon {     position: absolute;
    top: 0;
    right: 0;
    color: #8e8e8e;
    width: 50px;
    height: 71px;
     }
.deleteIcon i {     top: 26px;
    position: absolute;
    right: 16px; }

.newAct { padding-top:44px; }
.prevBlock:before { border:1px solid rgb(221, 221, 221); border-left:none; border-right: none; content:''; display: block; background: white; height:100%; position:absolute; left:0; top:0; z-index:99; width:14px; }

.attach { font-size: 24px !important;
    margin-bottom: -4px;
    transform:rotate(30deg);
	-ms-transform:rotate(30deg); 	/* IE 9 */
	-moz-transform:rotate(30deg); 	/* Firefox */
	-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
	-o-transform:rotate(30deg);
	color:#007aff;  }
.imgItem { max-height: 70px; overflow:hidden; position: relative; display: inline-block;}
.imgItem img { max-height: 70px; }
.imgItem a { position:absolute; right:0; top:0; background: url(/img/delete.png) no-repeat;
	background-size: contain;
	width:20px;
	height:20px; }

